#body{
    background-color: black;
}
.navbar{
    height: 12vh;
}

.container-fluid {
    padding: 0 !important;
}

.logo{
    height: 70px;
    position: relative;
    padding-left: 7vw;
    z-index: 2;
}
.nav-item{
    font-size: 20px;
    padding: 20px;
}
.nav-link{
    color: white !important;

}
#navbarNav{
    width: 100vw !important;
    justify-content: center;
}
#tagline-container{
    height: 88vh;
    width: 90vw;
    line-height: 90px;
    display: flex;
    align-items: center;
}
@font-face {
    font-family:'AlfaSlabOne';
    src: url(./assets/fonts/AlfaSlabOne-Regular.ttf)
}

.tagline{
    color: rgb(192, 189, 189);
    font-size: 70px;
    font-family:'AlfaSlabOne' ;
    padding-left: 150px;
}
#sub-tagline{
    color: white;
    font-size: 80px;
}
#end-line{
    font-size: 150px;
    color: #7ED957;
}
#home-contact-paragraph{
    font-size: 20px;
    font-weight: 700;
    background-color: #7ED957;
    font-family: var(--mdb-font-roboto);
    padding: 5px;
    color: white;
}
#background-text{
    position: absolute;
    z-index: -1;
    font-size: 150;
    text-shadow:
		-1px -1px 0 rgb(105, 103, 103),
		1px -1px 0 rgb(105, 103, 103),
		-1px 1px 0 rgb(105, 103, 103),
		1px 1px 0 rgb(105, 103, 103);
        font-family:'AlfaSlabOne';
        letter-spacing: 50px;
        color: rgba(0,0,0,1);
        -webkit-transform:rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(-20deg);
}