body {
    background-image: url("https://i.pinimg.com/736x/8f/68/23/8f682350d2c8a76a92fa71c175bf4be2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .divContainer{
    background-color: rgba(139, 139, 139, 0.35);
  }
  
  #textInput{
    resize: none;
  }
  
  .correct{
    background-color: rgb(90, 255, 90);
    color: black;
    border-radius: 2px;
  }
  .incorrect{
    background-color: rgb(255, 88, 88);
    color: black;
    border-radius: 2px;
  }
  
  
  