body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: #ffffff;
  height: 580px;
  width: 350px;
  box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 25px;
}
.options{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 40px;
   display: flex;
   justify-content: space-between;
}
.fa-check-circle::before{
    background: -webkit-gradient(linear, left top, left bottom, from(#731ed4), to(#e61e7b));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-check-circle{
    margin-left: 40px;
    margin-top: -25px;
    position: absolute;
}
.banner {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  filter: drop-shadow(0 0 0.75rem rgb(138, 136, 136));
}
.heading {
  text-align: center;
  font-family: "Righteous";
  letter-spacing: 1px;
  font-size: 25px;
}
.about {
  margin-top: -18px;
  font-size: 12px;
  font-family: sans-serif;
  color: rgba(128, 124, 119, 0.493);
}
.caption {
  margin-top: -20px;
  font-size:12px;

}
.tagline-container {
  height: 50px;
  width: 180;
  background: linear-gradient(to left, #e61e7b, #731ed4);
  /* margin-left: 110px; */
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagline {
  color: white;
  font-family: sans-serif;
  margin: 0;
}
.line {
  display: block;
  margin-top: 40px;
  height: 4px;
  width: 85%;
  background-color: #f3f0f1;
  border: none;
  border-radius: 15px;
}
/* .social::before{
    height: 2px;
    width: 100%;
    background-color: #7021f0;
    display: block;
    content:"";
} */
.social {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.links {
  height: 70px;
  width: 70px;
  background: linear-gradient(to left, #e0639d, #e61e7b);
  filter: drop-shadow(0 0 0.75rem rgb(138, 136, 136));
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa {
  color: white;
}
#behance-container {
  background: linear-gradient(to left, #67a7f1, #186ed1);
}
#atom-container {
  background: linear-gradient(to left, #fff67d, #f06d21);
}
.number {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.follower {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(128, 124, 119, 0.493);
  font-family: "Righteous", cursive;
}
.num-heading {
  color: black;
  margin: 0;
  padding: 20px 0 2px 0;
}
.follow-heading {
  margin: 0;
  padding: 5px 0 20px 0;
}
/* #invert {
    filter: invert(1) hue-rotate(100deg);
} */